.container1 {
    padding-left: 200px;
    padding-right: 200px;
}

.calculator-compound {
    padding-left: 250px;
    padding-top: 20px;
    padding-right: 250px;
    padding-bottom: 50px;
}

.inputs {
    padding: 10px;
}

.outputs {
    padding: 10px;
}

label {
    padding-right: 20px;
}

input {
    padding: 10px;
    border-radius: 5em;
    border: 1px solid #df8714;
    float: right;
}

.btn-calculate {
    color: antiquewhite;
    margin: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 15em;
    background-color: #ce4d1a;
    border: 2px solid #df8714;
}
