div{
  text-align: center;
}

nav {
  background-color: black;
}

img {
  height: auto;
  width: 250px;
}

td {
  padding-top: 4%;
}

table {
  margin: 0 auto;
}


#apr, #amt {
  border-radius: 25px;
}


.calculator {
  width: 50%;
  height: auto;
  margin: 0 auto;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:9px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#8a8a8a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

