body {
    font-family: Arial, Verdana;
    font-size: 12px;
  }

  .hdr {
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;
  }

  .info {
    margin-bottom: 5px;
  }

  button {
    margin-top: 20px;
  }
